body {
    color: #333;
    font-family: helvetica, arial, sans;
}

h1 small {
    color: #666;
}

.vis-group.red .vis-item {
    background-color: #d88;
}

.vis-group.green .vis-item {
    background-color: #8d8;
}

.vis-tooltip {
    max-width: 500px;
    white-space: normal !important;
}
